@import "variables";
.badge-page {
  padding-bottom: 2em;
  .badge {
    display: inline-block;
    position: relative;
    background-image: url("/static/badges/badge-background-square.svg");
    padding: 2.5em;
    background-size: cover;
    border-radius: 50%;
    width: 280px;
    height: 280px;
  }

  .badge-header {
	  background-image: url("/static/badges/badges-header-desktop.svg");
  }

  .badge-page-title {
  	margin: 60px 0 20px 0;
  	font-family: "Open Sans Light", helvetica, arial, sans-serif;
  	font-size: 32px;
  	color: $text-dark;
  	line-height: 1em;
  }

  .wishlist-button { margin: -10px 0 0 10px; }

  .badge-page-description { margin-bottom: 30px; }

  .badge-page-criteria {
    margin-bottom: 30px;

    ul {
      text-align: left;
    }
  }
}

@media screen and (max-width: 480px) {
	.badge-page {
    .badge-header {
      background-image: url("/static/badges/badgesHeaderMobile.svg");
      background-size: 100%;
    }
		.badge-page-title {
      margin: 30px auto;
      width: 266px;
    }

		.wishlist-button {
			margin: -10px 0 0 35px;
		}
	}
}