.badge-page {
  padding-bottom: 2em;
  .badge {
    display: inline-block;
    position: relative;
    background-image: url("/static/badges/badge-background.svg");
    padding: 2.5em;
    background-size: cover;
    border-radius: 50%;
    width: 280px;
    height: 280px;
  }

  .badge-header {
  	background-image: url("/static/badges/badges-header-desktop.svg");
  }
}
