.button-base {
  background-size: cover;
  background-position: center;
  background-color: none;
  border-radius: 10px;
  line-height: 0.2;
  border: 2px solid #fff;
}

.button {
  background: url(/static/button-blue.svg) no-repeat;
  background-size: cover;
  @extend .button-base
}

.button.button-secondary {
  background: url(/static/button-grey.svg) no-repeat;
  background-size: cover;
  @extend .button-base
}

.button-square {
  padding: 6px 13px;
  background-color: white;
  &:hover { background-color: $orange; }
}

.button-callout {
  background: url(/static/button-orange.svg) no-repeat;
  @extend .button-base
}

.button-view-more {
  border: 1px solid $gray;
  color: $button-gray;
  padding: 8px 95px;
  font-family: "Open Sans", helvetica, arial, sans-serif;
  font-size: 16px;
  @extend .button-base;
  .fa-arrow-down { margin-left: 10px; }
}

.view-similar-btn,
.add-badge-btn,
.add-storybit-btn,
.remove-items-btn,
.undo-btn {
  width: 25px;
  height: 25px;
  background-size: cover;
  display: block;
  .hover-sidebar { display:none; }
  &:hover{
    width: 150px;
    background-size:25px;
    border-bottom-right-radius:10px;
    padding-top: 5px;
    .hover-sidebar {
      margin-top: 25px;
      margin-left: 25px;
      display:inline;
      color: $blue;
    }
  }
  &.active,
  &:active {
    .hover-sidebar {
      color: white;
    }
  }
}

.view-similar-btn {
  background: url(/static/pathway/icon-view-similar.svg) 0 0 no-repeat;
  &.active, &:active { background: url(/static/pathway/icon-view-similar-active.svg) 0 0 no-repeat; }
}


.add-badge-btn {
  background: url(/static/pathway/icon-add-badge.svg) 0 0 no-repeat;
  &.active, &:active { background: url(/static/pathway/icon-add-badge-active.svg) 0 0 no-repeat; }
}

.add-storybit-btn {
  background: url(/static/pathway/icon-add-storybit.svg) 0 0 no-repeat;
  &.active, &:active { background: url(/static/pathway/icon-add-storybit-active.svg) 0 0 no-repeat; }
}

.remove-items-btn {
  background: url(/static/pathway/icon-remove-parts.svg) 0 0 no-repeat;
  &.active, &:active { background: url(/static/pathway/icon-remove-parts-active.svg) 0 0 no-repeat; }
}

.undo-btn {
  background: url(/static/pathway/icon-view-similar.svg) 0 0 no-repeat;
  &.active, &:active { background: url(/static/pathway/icon-view-similar-active.svg) 0 0 no-repeat; }
}