.nav-container {
  margin-top: 5px;
  .fa-bars { color: black; }
}

.avatar-image { margin-right: 10px; }

.user-email {
  color: white;
  font-family: "Open Sans";
  font-size: 14px;
}

.dashboard-page {
  padding-bottom: 2em;

  .dashboard-cover-image{
    background-image: url("/static/dashboard/dashboardHeaderDesktop2000.svg");
  }

  .dashboard-header {
    background: white;
    padding-top: 10px;
  }
}

@media screen and (max-width: 1024px) {
  .nav-container { margin-left: 20px; }
}