.nav-container {
  margin-top: 5px;
  .fa-bars { color: black; }
}

.avatar-image { margin-right: 10px; }

.user-email {
  color: white;
  font-family: "Open Sans", helvetica, arial, sans-serif;
  font-size: 14px;
}

.dashboard-page {
  padding-bottom: 2em;

  .dashboard-cover-image{
    background: url("/static/dashboard/dashboardHeaderDesktop2000.svg") no-repeat;
    background-position: center;
  }

  .page-header.dashboard-cover-image { height: 320px; }

  .dashboard-header {
    background: white;
    padding-top: 10px;
  }

  .dashboard-email {
    margin: 0 0 20px 0;
    font-family: "Open Sans";
    font-size: 24px;
    color: white;
  }

  .icon-length {
    font-family: "Open Sans";
    font-size: 14px;
    color: white;
    margin: 15px 0 20px 0;
  }
}

@media screen and (max-width: 1024px) {
  .nav-container { margin-left: 20px; }
}