.dashboard-page {
  padding-bottom: 2em;

  .dashboard-cover-image{
    background-image: url("/static/dashboard/dashboardHeaderDesktop2000.svg");
  }

  .dashboard-header {
    background: white;
    padding-top: 10px;
  }

}