.landing-page {
  padding-bottom: 2em;

  .landing-cover-image{
    background-image: url("/static/landing/landingHeaderDesktop2000-v2.svg");
  }


  .landing-header {
    background: white;
    padding-top: 10px;
  }

//  .landing-background {
//    background: white;
//    width: 1000px;
//    background-position: center;
//  }

}