@import "variables";

.landing-page {
  padding-bottom: 4em;

  .landing-cover-image {
    background: url("/static/landing/landingHeaderDesktop.svg") 50% no-repeat, #1aa1d6;
    height: 230px;
    text-align: center
  }

  .landing-title-section{
    background: $blue;
  }

  .landing-title{
    background: $green;
    p {
      text-align: left;
      color: #fff;
    }
  }

  .landing-header {
    background: white;
    padding-top: 10px;
  }
}