/*** COLORS ***/
$green: #7ad69c;
$blue: #0fa1d6;
$text-dark: #4d4f53;
$text-light: #ffffff;
$background-color: #f4f4f2;

.landing-page {
  padding-bottom: 2em;

  .landing-cover-image{
    background-image: url("/static/landing/landingHeaderDesktop2000-v2.svg");
    height: 230px;
  }

  .landing-title-section{
  	background: $blue;
  }
  .landing-title{
  	background: $green;
  	p {
  		text-align: left;
  		color: #fff;
  	}
  }

  .landing-header {
    background: white;
    padding-top: 10px;
  }

//  .landing-background {
//    background: white;
//    width: 1000px;
//    background-position: center;
//  }

}