.listing {
  margin-top: 1em;
  margin-bottom: 1em;

  .row { padding: 0 20px; }

  .columns {
    padding: 0 0.5em;
  }
}

.achievement {
  margin-bottom: 1em;

  .token {
    background-color: lightgray;
    position: relative;
    text-align: center;
    @include one-to-one-aspect;

    img {
      // 100% causes wrapping problems in FF due to the vertically-centered-children mixin's :before stuff
      max-width: 90%;
      max-height: 90%;
    }

    .item-link {
      // I don't know why this is necessary but it solves a squirrely Chrome bug where the .item-link would
      // have 0 width and images would be offset to the right.
      // See: https://github.com/mozilla/openbadges-discovery/issues/95
      width: 90%;
    }

    & > * {
      @include vertically-centered-children;
    }
  }
}
