@mixin vertically-centered-children {
  // http://css-tricks.com/centering-in-the-unknown/

  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
  }
  & > * {
    display: inline-block;
    vertical-align: middle;
  }
}

@mixin one-to-one-aspect {
  // http://www.mademyday.de/css-height-equals-width-with-pure-css.html

  &:before {
    content: "";
    display: block;
    padding-top: 100%;
  }
  & > * {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  // fix the height and width of clone while dragging
  & > .ui-draggable-dragging {
    top: 0;
    left: 0;
    right: initial;
    bottom: initial;
    width: 100%;
    height: 100%;
  }
}
