.pathway-side-nav{
  background-color: white;
  position: absolute;
  top: 220px;
  left: 0pt;
  list-style-type: none;
  border-top-right-radius:10px;
  border-bottom-right-radius:10px;
  li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    &:last-child{
      border-bottom: none;
    }
    a{
      width: 25px;
      height: 25px;
      background-size: cover;
      display: block;
    }
  }
}

.editor {
  width: 100%;
}

[data-toggle="on"] {
  background-color: #007295;
}
