.pathway-page {
  .pathway-cover-image{
    background-image: url("/static/pathway/pathway-header-desktop.svg");
  }

  .page-body-pathway {
    background-image: url("/static/pathway/pathway-background-desktop.svg");
  }
  
  .pathway-header{
    background: white;
    padding-top: 10px;
  }

  .page-body-pathway-add-badges{
    background: white;
  }

  .pathway-title-edit{
      padding-top: 1em;
  }

  .pledge-button {
    margin-top: 1em;
  }
}

.content.active {
  float: none;
}

.stack > .bottom {
  display: none;
}