.pathway-page {
  .pathway-cover-image,
  .pathway-grid {
    background-color: #999;
  }

  .pathway-grid {
    height: 800px;
    h1 {
      margin-top: 100px;
    }

    .pledge-button {
      margin-top: 1em;
    }
  }
}
