.pathway-page {
  .pathway-cover-image{
    background-image: url("/static/pathway/pathway-header-desktop.svg");
  }
  .pathway{
    display: inline-block;
    position: relative;
    background-image: url("/static/pathway/pathway-background.svg");
    padding: 2.5em;
    background-size: cover;
    border-radius: 50%;
    width: 280px;
    height: 280px;
  }
  .pathway-editor {

  }

	.pathway-title-edit{
		padding-top: 1em;
	}
  .pledge-button {
    margin-top: 1em;
  }
}

.content.active {
  float: none;
}

.stack > .bottom {
  display: none;
}