.pathway-side-nav{
  position: absolute;
  top: 220px;
  left: 0pt;
  list-style-type: none;
  li {
    display:table;
    &:first-child{border-top-right-radius:10px;}
    background-color: white;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    &:last-child{
      border-bottom: none;
      border-bottom-right-radius:10px;
    }
    a{
      width: 25px;
      height: 25px;
      background-size: cover;
      display: block;
    }
  }
}

.editor {
  width: 100%;
}

[data-toggle="on"] {
  background-color: #007295;
}
