@import "../../bower_components/foundation/scss/foundation";
@import "mixins";
@import "wishlist";
@import "pathway-editor";
@import "badge-page";
@import "pathway-page";
@import "listing-page";
@import "add-list";

body {
  background-color: lightgray;
}
#pages {
  background-color: white;
}
header {
  background-color: white;
  padding-bottom: 0.2em;

  .columns {
    line-height: 72px;
  }
}
nav {
  margin-top: 0.2em;
  padding-top: 0.8em;
}
footer {
  padding-bottom: 3em;
}

.banner {
  background-color: lightgray;
}

.logout-control a,
.login-control a {
  border-top: 1px solid lightgray;
}

.user-panel {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  .fa-user {
    background: white;
    padding: 4px 8px;
  }
}

.edit-mode.cursor-grab {
  cursor: move;
  cursor: -moz-grab;
  cursor: -webkit-grab;
  cursor: grab;
}
.edit-mode.cursor-grabbing {
  cursor: move;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
  cursor: grabbing;
}
