@import "../../bower_components/foundation/scss/foundation";
@import "mixins";
@import "wishlist";
@import "pathway-editor";
@import "badge-page";
@import "pathway-page";
@import "listing-page";
@import "add-list";
@import "dashboard-page";
@import "landing-page";
@import "variables";
@import "button";
@import "add-badge-button";

body {
  background-color: $background-color;
  font-family: Helvetica, sans-serif;
}

.right { float: right; }
.left { float: left; }

header {
  background-color: white;
  padding-bottom: 0.2em;

  .columns {
    line-height: 72px;
    padding-left: 0;
  }

  .header-logo {
    width: 207px;
    padding: 20px 0;
  }
}

[data-dropdown] {
  width: 40px;
  display: block;
  &:focus { outline: none; }
}

.header-dropdown {
  margin-top:10px;
  background-color: #ffffff;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.1);
  border:none;
  li {
    line-height:15px;
    border-bottom: 1px solid #ccc;
    &:first-child { border-top-right-radius: 6px; }
    &.dropdown-last {
      border-bottom-right-radius: 6px;
      border-bottom-left-radius: 6px;
      border-bottom: none;
    }
  }
  &.open:before {
    width: 40px;
    background-color: #ffffff;
    left: 0px;
  }
}

.main-icon {
  width: 155px;
  height: 155px;
  margin-top: 73px;
}

.dashboard-icon{
  width: 120px;
  height: 120px;
  margin: 25px auto;

  .dashboard-avatar { margin: 10px 0 0 5px; }
}

nav {
  padding-top: 0.9em;
  position: absolute;
  width: 100%;
  z-index: 9;
}

.nav-container {
  margin-top: 5px;
  .fa-bars { color: black; }
}

@media screen and (max-width: 1024px) {
  .nav-container { margin-left: 20px; }
}

.avatar-image { margin-right: 10px; }

.user-email {
  color: white;
  font-family: "Open Sans", helvetica, arial, sans-serif;
  font-size: 14px;
}

.page-header {
  background-position: center;
  height: 300px;
}

.page-body-rounded {
  padding-bottom: 2em;
  background-color: #fff;
  @include box-shadow;
}

footer {
  padding-bottom: 3em;
}

.white-button {
  background-color: white;
  border-color: white;
  color: $text-dark;
  .f-dropdown { color: $text-dark; }
  &:hover { background-color: $blue; }
}

.logout-control a,
.login-control a {
  border-top: 1px solid lightgray;
}

.user-panel {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;

  .fa-user {
    background: white;
    padding: 4px 8px;
    border-radius: 50%;
    border: 1px solid white;
    padding: 8px 12px;
    margin-right:  15px;
  }
}

.edit-mode.cursor-grab {
  cursor: move;
  cursor: -moz-grab;
  cursor: -webkit-grab;
  cursor: grab;
}

.edit-mode.cursor-grabbing {
  cursor: move;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

// Styling Achievements
.token {
  border-radius: 2em;
  background-image: url(/static/badge-background.svg);
  background-size: cover;
}

.wishlist-button{
  margin: 20px;
  .favorite-icon{
    color: #d4d4d2;
    font-size: 25px;
  }
  .favorite-icon.userFavorite {
    color: $favorite-blue;
  }
}

.data {
  .data-badge-title { margin-top: 15px; }
  .data-created-by {
    margin: 10px 0 15px 0;
    font-size: 12px;
    font-family: "Open Sans", helvetica, arial, sans-serif;
    color: $light-gray;
  }
}

.item-link {
  padding: 30px;
  position: relative;
  .badge-icon,
  .pathway-icon {
    position: absolute;
    right: 10px;
  }
  .pathway-icon { top: 0; }
  .badge-icon { top: 10px; }
}

.label.achievement-tag {
  background-color: $green;
  color: #fff;
  margin: 2px;
  border-radius: 7px;
}

.full-length-hr {
  min-width: 1000px;
  margin: 40px;
  margin-left: -15px;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.clearfix { display: inline-block; }

/* start commented backslash hack \*/
* html .clearfix { height: 1%; }

.clearfix { display: block; }


@media screen and (max-width: 1024px) {
  header {
    .header-logo { padding-left: 20px; }
  }
}

@media screen and (max-width: 480px) {
  .page-body-rounded {
    .mobile-full-width {
      padding: 0;
    }
    .listing {
      .row { padding: 0; }
      .token {
        border-radius: 0;
        .item-link {
          .badge-icon,
          .pathway-icon { top: -15px;}
        }
      }
      .data { padding: 0 30px; }
    }
  }
}