@import "../../bower_components/foundation/scss/foundation";
@import "mixins";
@import "wishlist";
@import "pathway-editor";
@import "badge-page";
@import "pathway-page";
@import "listing-page";
@import "add-list";

body {
  background-color: #f4f4f2;
  font-family: Helvetica, sans-serif;
}
#pages {
  //background-color: white;
}
header {
  background-color: white;
  padding-bottom: 0.2em;

  .columns {
    line-height: 72px;
  }
}
nav {
  margin-top: 0.2em;
  padding-top: 0.8em;
  position: absolute;
  z-index: 10;
}
.page-header {
  background-size: cover;
  padding-top: 2em;
  padding-bottom: 2em;
  background-position: center;
}
.page-body-rounded {
  padding-bottom: 2em;
  background-color: #fff;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  box-shadow: 0 10px 0 rgba(0,0,0,0.05);
}
footer {
  padding-bottom: 3em;
}

.banner {
  background-color: lightgray;
}

.logout-control a,
.login-control a {
  border-top: 1px solid lightgray;
}

.user-panel {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  .fa-user {
    background: white;
    padding: 4px 8px;
  }
}

.edit-mode.cursor-grab {
  cursor: move;
  cursor: -moz-grab;
  cursor: -webkit-grab;
  cursor: grab;
}
.edit-mode.cursor-grabbing {
  cursor: move;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
  cursor: grabbing;
}
