@import "../../bower_components/foundation/scss/foundation";
@import "mixins";
@import "wishlist";
@import "pathway-editor";
@import "badge-page";
@import "pathway-page";
@import "listing-page";
@import "add-list";

/*** PATHWAY COLORS ***/
$green: #7ad69c;
$blue: #0fa1d6;
$text-dark: #4d4f53;
$text-light: #ffffff;
$pathway-background-color: #f4f4f2;

/*** WIDTHS ***/
$one-wide: 13.6%;
$two-wide: 30.9%;
$three-wide: 50%;
$four-wide: 65.5%;
$five-wide: 82.7%;
$six-wide: 100%;


body {
  background-color: lightgray;
}
#pages {
  background-color: white;
}
header {
  background-color: white;
  padding-bottom: 0.2em;

  .columns {
    line-height: 72px;
  }
}
nav {
  padding-top: 0.9em;
  background-color: $green;
}

footer {
  padding-bottom: 3em;
}

.white-button {
  background-color: white;
  border-color: white;
  color: $text-dark;
  .f-dropdown { color: $text-dark; }
  &:hover { background-color: $blue; }
}

.banner {
  background-color: $pathway-background-color;
}

.logout-control a,
.login-control a {
  border-top: 1px solid lightgray;
}

.user-panel {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  .fa-user {
    border-radius: 100px;
    border: 1px solid white;
    padding: 8px 12px;
    margin-right:  15px;
  }
}

.edit-mode.cursor-grab {
  cursor: move;
  cursor: -moz-grab;
  cursor: -webkit-grab;
  cursor: grab;
}
.edit-mode.cursor-grabbing {
  cursor: move;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
  cursor: grabbing;
}
