<section class="page badge-page">
  <div class="badge-header page-header">
    <div class="row text-center">
      <div class="small-12 large-8 small-centered columns main-icon">
        <img src="/static/badge.png">
      </div>
    </div>
  </div>
  <div class="row text-center page-body-rounded">
    <div class="small-12 large-8 small-centered columns">
      <h1 class="badge-page-title">{{title}}</h1>
      <p class="status">Status: <span class="js-status">{{status}}</span></p>
      <a href="#" class="wishlist-button js-toggle-wishlist">
        <i class="fa fa-heart favorite-icon js-favorite-icon"></i>
      </a>
      <p class="badge-page-description">{{description}}</p>
      {% for tag in tags %}
      <span class="label achievement-tag">#{{tag}}</span>
      {% endfor %}
    </div>
  </div>
</section>
