<section class="page badge-page">
  <div class="badge-header page-header">
    <div class="row text-center">
      <div class="small-12 large-8 medium-10 small-centered columns">
        <div class="badge">
          <img src="/static/badge.png">
        </div>
      </div>
    </div>
  </div>
  <div class="row text-center ">
    <div class="small-12 large-8 medium-10 small-centered columns page-body-rounded">
      <h1>{{title}}</h1>
      <p class="status">Status: <span class="js-status">{{status}}</span></p>
      <a href="#" class="wishlist-button js-toggle-wishlist">
        <i class="fa fa-heart favorite-icon js-favorite-icon"></i>
      </a>
      <p>
        Flannel squid jean shorts banh mi Cosby sweater, Blue Bottle Tonx fixie ethical.
      </p>
      {% for tag in tags %}
      <span class="secondary radius label">#{{tag}}</span>
      {% endfor %}
    </div>
  </div>
</section>
