<section class="page badge-page">
  <div class="row text-center">
    <div class="small-12 large-8 small-centered columns">
      <div class="badge">
        <a href="#" class="wishlist-button">
          <i class="fa fa-heart favorite-icon"></i>
        </a>
        <img src="/static/badge.png">
      </div>
      <h1>{{title}}</h1>
      {% if status %}
      <p>Status: {{status}}</p>
      {% endif %}
      <p>
        Flannel squid jean shorts banh mi Cosby sweater, Blue Bottle Tonx fixie ethical.
      </p>
    </div>
  </div>
</section>
