<section class="page dashboard-page">
  <section class="dashboard-cover-image banner">
    <div class="row text-center">
      <div class="small-12 large-8 small-centered columns">
        <img src="/static/pathway.png">
      </div>
    </div>
  </section>
  <section class="dashboard-data banner">
    <div class="row text-center">
      <div class="small-12 large-8 small-centered columns dash-title"></div>
    </div>
  </section>
  <!--<section class="pathway-editor banner">-->
  <section class="dashboard-editor banner">
    <div class="row text-center">
      <div id="dashPanel" class="small-12 columns">
        <div class="dash-panel-container"></div>
      </div>
    </div>
  </section>
</section>
