<section class="page landing-page">
  <section class="landing-cover-image page-header">
    <div class="row text-center">
      <p>
        Stumptown fugiat street art 8-bit Cosby sweater mumblecore. Intelligentsia slow-carb Austin, lo-fi Pitchfork blog freegan est iPhone.
      </p>
      {% if currentUser.loggedIn %}
        <a href="#" class="button js-quiz">Take the Quiz</a>
      {% else %}
        <a href="#" class="button js-login">Sign in / Sign up</a>
      {% endif %}
    </div>
  </section>
    <section class="page-body-rounded">
  <div class="row text-center">
    <h2 align="left">Featured</h2>
  </div>
        <div class="content">

        </div>
  </section>
</section>
