<section class="page landing-page">
  <section class="landing-cover-image page-header">
  </section>
  <section class="landing-title-section">
    <div class="row text-center landing-title">
      <div class="medium-9 columns">
        {% if currentUser.loggedIn %}
          <p>Welcome! Now that you are all settled help us help you. Tell us what you like doing so we can make some recommendations.</p>
        {% else %}
          <p>Explore pathways to career opportunities. Discover your own personalized journey with Open Badges. Learn valued skills and navigate your potential along the way!</p>
        {% endif %}
      </div>
      {% if currentUser.loggedIn %}
        <a href="https://docs.google.com/a/varelidi.com/forms/d/1T0FqgLKYw0cLUPvxirTZ2UIvOJHVZYtC71cU8jU1I24/viewform" class="button button-callout">Take the Quiz  &raquo;</a>
      {% else %}
        <a href="#" class="button button-callout js-login">Log In Using Persona &raquo;</a>
      {% endif %}
    </div>
  </section>
  <section>
    <div class="row text-center page-body-rounded">
      <div class="medium-12 columns mobile-full-width">
        <h2>Latest</h2>
        <div class="content">
        </div>
      </div>
    </div>
  </section>
</section>
