<section class="page landing-page">
  <section class="landing-cover-image page-header">
    <canvas id="animate-me" width="1040" height="230"></canvas>
  </section>
  <section class="landing-title-section">
    <div class="row text-center landing-title">
      <div class="medium-9 columns">
        {% if not app.currentUser.loggedIn %}
          <p>Design the path to your dream job. Mozilla's Discover project helps you identify an amazing career, then map the skills and experiences you need to land it. </p>
        {% endif %}
      </div>
      {% if not app.currentUser.loggedIn %}
        <a href="#" class="button button-callout js-login">Log In Using Persona &raquo;</a>
      {% endif %}
    </div>
  </section>
  <section>
    <div class="row text-center page-body-rounded">
      <div class="medium-12 columns mobile-full-width">
        <h2>{{name}}</h2>
        <div class="content">
        </div>
      </div>
    </div>
  </section>
</section>
