<section class="page pathway-page">
  <section class="pathway-cover-image page-header">
    <div class="row text-center">
      <div class="small-12 large-8 small-centered columns pathway main-icon">
        <img src="/static/pathway.png">
      </div>
    </div>
  </section>
  <section class="pathway-data">
    <div class="row text-center pathway-header">
      <div class="small-12 large-8 small-centered columns">
        <h1 class="foo">{{pathway.title}}</h1>
        <p class="foo">
          {{pathway.description}}
        </p>
        <div>
          {% if user.loggedIn %}
            <a href="#" class="button pledge-button js-pledge-button button-blue">Pledge To Do This!</a>
          {% else %}
            <a href="#" class="button pledge-button js-pledge-button">Log In To Pledge This</a>
          {% endif %}
        </div>
      </div>
    </div>
  </section>
  <section class="pathway-editor">
    <div class="row text-center page-body-pathway">
      <div class="pathway-editor-container small-12 columns">
      </div>
    </div>
  </section>
</section>
