<section class="page pathway-page">
  <section class="pathway-cover-image page-header">
    <div class="row text-center">
      <div class="small-12 large-8 small-centered columns main-icon">
        <img src="/static/pathway.png">
      </div>
    </div>
  </section>
  <section class="pathway-data">
    <div class="row text-center js-stack stack pathway-header">
      <div id="pathwayTitle" class="small-12 large-8 small-centered columns">
        <div class="pathway-title"></div>
      </div>
      <div id="pathwayEdit" class="small-12 large-8 small-centered columns">
        <div class="pathway-edit"></div>
      </div>
      <div>
        <i class="fa fa-chevron-down fa-2x"></i>
      </div>
    </div>
  </section>
  <section class="pathway-editor">
    <div class="row text-center page-body-pathway">
      <div class="js-stack stack">
        <div id="editorPanel" class="small-12 columns">
          <div class="pathway-editor-container"></div>
        </div>
        <div id="addPanel" class="small-12 columns">
          <div class="add-panel-container"></div>
      </div>
    </div>
  </section>
</section>
