<section class="page pathway-page">
  <section class="pathway-cover-image banner">
    <div class="row text-center">
      <div class="small-12 large-8 small-centered columns">
        <img src="/static/pathway.png">
      </div>
    </div>
  </section>
  <section class="pathway-data banner">
    <div class="row text-center">
      <div class="small-12 large-8 small-centered columns">
        <h1 class="foo">{{pathway.title}}</h1>
        <p class="foo">
          Authentic meh Marfa Thundercats roof party Brooklyn, scenester locavore ennui wayfarers typewriter 3 wolf moon gastropub.
        </p>
        <i class="fa fa-chevron-down fa-2x"></i>
      </div>
    </div>
  </section>
  <section class="pathway-editor banner">
    <div class="row text-center">
      <dl class="tabs" data-tab>
        <dd class="active"><a href="#editorPanel">Editor</a></dd>
        <dd><a href="#addPanel">Add</a></dd>
      </dl>
      <div class="tabs-content">
        <div id="editorPanel" class="small-12 medium-8 medium-centered columns content active">
          <div class="pathway-editor-container"></div>
        </div>
        <div id="addPanel" class="small-12 columns content">
          <div class="add-panel-container"></div>
      </div>
    </div>
  </section>
</section>
