<section class="page pathway-page">
  <section class="pathway-cover-image banner">
    <div class="row text-center">
      <div class="small-12 large-8 small-centered columns">
        <img src="/static/pathway.png">
      </div>
    </div>
  </section>
  <section class="pathway-data banner">
    <div class="row text-center">
      <div class="small-12 large-8 small-centered columns">
        <h1>{{pathway.title}}</h1>
        <p>
          {{pathway.description}}
        </p>
        <i class="fa fa-chevron-down fa-2x"></i>
      </div>
    </div>
  </section>
  <section class="pathway-editor banner">
    <div class="row text-center">
      <div class="js-stack stack">
        <div id="editorPanel" class="small-12 medium-8 medium-centered columns">
          <div class="pathway-editor-container"></div>
        </div>
        <div id="addPanel" class="small-12 columns">
          <div class="add-panel-container"></div>
      </div>
    </div>
  </section>
</section>
