<section class="page landing-page">
  <div class="landing-cover-image page-header"></div>
  <div class="row page-body-rounded">
    <div class="medium-8 medium-push-2 columns mobile-full-width">
      <h2>FAQ</h2>

      <h3>How does Discover work?</h3>
      <p>Mozilla's Discover project is a tool that empowers young people to take control of their career pathways. Using the Discover webpage, learners can browse careers and <a href="http://openbadges.org/" target="_blank">badges</a>, connecting skills that can be combined to land a fantastic job. Real-world professionals are profiled to illustrate how a variety of experiences and interests can lead to a rewarding career. Learners can pledge to follow a similar path, or can design their own customized career pathway from scratch. These pathways are visualized as editable maps, with progress indicators and room for notes.</p>

      <h3>What is a badge?</h3>
      <p>Many valuable workplace skills and qualities are not measured in traditional educational environments. <a href="http://openbadges.org/" target="_blank">Badges</a> address this issue  by representing a fuller range of skills, learning experiences,  involvements and achievements. In addition to practical,  industry-specific skills, badges recognize abilities such as organization  and leadership. This allows young people  to  describe their unique  qualities and attributes more accurately, and   gives employers an improved tool set for effectively matching candidates to opportunities.</p>

      <h3>What is a pathway?</h3>
      <p>A pathway is a personal map that connects badges representing a young person's education experiences, strengths and interests in order to provide a clear idea of how to pursue a specific career.</p>

      <h3>How do pathways lead to careers?</h3>
      <p>The badges and pathways in  the Discover project are being developed in conjunction with  established  industry professionals. While pathways are primarily  intended to help young people maximize their own strengths to access careers, they are also aimed at meeting the expectations of employers, and can function as a valuable tool for matching candidates with opportunities.</p>

      <h3>What fields does Discover focus on?</h3>
      <p>Working in partnership with industry  leaders and professionals,  the Discover project has created badge ecosystems in the fields of Technology,  Healthcare and Service. These industry-specific pathways are demonstrated through the skills of professionals who work in these areas. Eventually, we hope the Discover project will include pathways in additional fields.</p>

      <h3>Who can use Discover?</h3>
      <p>Discover is free for anyone to use. Simply sign up for a Persona account and begin browsing badges and pathways.</p>

      <h3>Who's funding this project?</h3>
      <p>Mozilla's Discover project is generously funded by the <a href="http://www.gatesfoundation.org/" target="_blank">Bill & Melinda Gates Foundation</a>.</p>

      <h3>How can I get involved?</h3>
      <p>Discover is an open source project built by the Mozilla community. If you are interested in helping us improve the Discover project, please visit our <a href="https://github.com/mozilla/openbadges-discovery/" target="_blank">GitHub repo</a>.</p>
    </div>
  </div>
</section>