<section class="page landing-page">
  <div class="landing-cover-image page-header"></div>
  <div class="row page-body-rounded">
    <div class="medium-8 medium-push-2 columns mobile-full-width">
      <h2>About Discover</h2>

      <h3>How do you find your dream job?</h3>
      <p>When you have incredibly varied strengths and interests, deciding on a career can be hard. Cool jobs often seem unattainable, and opportunities exist that you might not even know about. Mozilla's Discover project helps you identify great careers by profiling the learning experiences of working professionals, then allowing you to map your own path to a rewarding job tailored to your skills and interests.</p>

      <h3>Your skills tell your story</h3>
      <p>Discover is a tool prototype that connects <a href="http://openbadges.org/" target="_blank">Open Badges</a>  to your interests, education, experiences and personality traits. Combined, these paint a picture of the skills you have -- and where you need to grow -- to apply for your dream job, volunteer position or  learning opportunity.</p>

      <h3>Get inspired by real professionals</h3>
      <p>Discover features real people working in great careers to show how diverse (and sometimes unexpected) skills can lead to awesome opportunities. Browse the experiences of these real-life professionals to see what it takes to land a fantastic job - you might be surprised by what you find!</p>

      <h3>Design your own path</h3>
      <p>There's more that one route to achieve your dreams, so the Discover project lets you customize, remix and edit your own career path. See what skills others have used to land incredible jobs, then pick and chose the pieces that could work for you. Or, start your own pathway from scratch based on your current passions and experiences.</p>
    </div>
  </div>
</section>