<section class="page landing-page">
  <div class="landing-cover-image page-header"></div>
  <div class="row page-body-rounded">
    <div class="medium-8 medium-push-2 columns mobile-full-width">
      <h2>About</h2>

      <h3>Take control over your own learning</h3>
      <p>The Discover project empowers young people to take control over their own learning and career pathways. Discover connects Open Badges, creating pathways to jobs and further education that are tailored to the individual. Design your own pathway and build up a coherent set of skills that are valued within the workplace. Discover makes real-world opportunities accesssible to learners from a diverse range of backgrounds.</p>

      <h3>Navigat Your Potential with Open Badges</h3>
      <p>Explore an ecosystem of digital badges, created in partnership with industry leaders and professionals in emerging fields such as Technology. Healthcare and Service to discover learning opportunities that are right for you.</p>

      <h3>Got Badges? Now Pave Your Pathway</h3>
      <p>Discover a network of pathways that can be personalized to meet your individual learning needs. Explore careers though a map of digital badges that connects to specific learning experiences. Get inspired by the story of real world professionals who work in growing industry fields and pave your own career path.</p>

      <h3>It's backed by research and an esteemed advisory group</h3>
      <p>Based on recent labor market research findings, the Discover project aims to address the needs and expectations of employers and high school youth entering the job market. This project is generously supported by the Bill & Melinda Gates Foundation with input from an esteemed advisory group.</p>

      <p>Mike Marriner
        <br>
        Co-founder, Roadtrip Nation
      </p>

      <p>John Dillow
        <br>
        Co-founder, Workforce.io
      </p>

      <p>Constance Steinkuehler
        <br>
        Co-Director, Games+Learning+Society Center, Wisconsin Institute for Discovery
      </p>

      <p>Elisabeth (Lissa) Soep, PhD
        <br>
        Senior Producer & Research Director, Youth Radio
      </p>

      <p>Brother Mike Hawkins
        <br>
        Associate Director and Lead Mentor, Digital Youth Network
      </p>

      <p>Michael John's
        <br>
        Senior Creative Director, Electronic Arts
      </p>
    </div>
  </div>
</section>