<section>
  <header>
    <nav class="top-bar" data-topbar>
      <ul class="title-area">
        <li class="name">
          <h1><a href="#">Pathways</a></h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
      </ul>
      <section class="top-bar-section">
        <ul class="right user-controls">
          <li class="user-email">
            <a href="#">{{ currentUser.email }}</a>
          </li>
          <li class="logout-control">
            <a href="#" class="logout">Log out</a>
          </li>
          <li class="login-control">
            <a href="#" class="login">Log in</a>
          </li>
        </ul>
      </section>
    </nav>
  </header>
  <section id="pages">
  </section>
  <footer>
    <div class="row text-center">
      <h3>Footer</h3>
    </div>
  </footer>
</section>
