<section>
  <header>
    <div class="row">
      <div class="small-6 columns">
        <a href="/">
          <img src="/static/discover-logo.svg" alt="OpenBadges Discovery" class="header-logo" />
        </a>
        <a href="/page/help" class="menu-item push-1">About</a>
        <a href="/page/faq" class="menu-item push-1">FAQ</a>
      </div>
      <div class="small-6 columns">
        <a href="https://www.mozilla.org/" id="tabzilla">mozilla</a>
      </div>
    </div>
  </header>
  <nav>
    <div class="row">
      <div class="small-6 columns">
        <div class="nav-container left">
          <a href="#" class="button-square" data-dropdown="nav">
            <i class="fa fa-bars"></i>
          </a>
          <ul id="nav" data-dropdown-content class="f-dropdown header-dropdown">
            <li><a href="#" class="js-view-featured">Featured</a></li>
            <li><a href="#" class="js-view-latest">Latest</a></li>
            <li><a href="#" class="js-view-pathways">Pathways</a></li>
            <li><a href="#" class="js-view-badges">Badges</a></li>
            <li><a href="#" class="js-view-tag">#Technology</a></li>
            <li><a href="#" class="js-view-tag">#Healthcare</a></li>
            <li><a href="#" class="js-view-tag">#Service</a></li>
            <li><a href="#" class="js-view-tag">#Cross Career</a></li>
            <li><a href="#" class="js-view-tag">#Web Literacy</a></li>
            <li class="logout-control js-logout-item dropdown-last"><a href="#" class="js-logout">Sign out</a></li>
            <li class="login-control js-login-item dropdown-last"><a href="#" class="js-login">Sign in</a></li>
          </ul>
        </div>
        <div class="search-box left push-1">
          <input type="text" class="search-input" placeholder="Search">
          <i class="fa fa-search fa-rotate-90"></i>
        </div>
      </div>
      <div class="small-6 columns">
        <div class="user-panel right">
          <span class="js-user-panel">
             <img src="/static/avatar.svg" width="40px" height="40px" class="avatar-image">
            <span class="js-user-email user-email show-for-large-up" href="#">{{ currentUser.email }}</span>
          </span>
        </div>
      </div>
    </div>
  </nav>
  <section id="pages">
  </section>
</section>
