<div class="small-12 medium-4 large-3 columns">
  <div class="achievement">
    <div class="token">
      <div>
        <a href="#" class="item-link js-view-item">
        {% if type == 'badge' %}
          <img src="{{imgSrc|default('static/badge.png')}}">
          <img src="/static/badgeIconBadge.svg" class="badge-icon">
        {% else %}
          <img src="/static/pathway.png">
          <img src="/static/badgeIconPathway.svg" class="pathway-icon">
        {% endif %}
        </a>
        <a href="#" class="wishlist-button js-toggle-wishlist">
          <i class="fa fa-heart fa-2x favorite-icon js-favorite-icon"></i>
        </a>
      </div>
    </div>
    <div class="data">
      <h5 class="data-badge-title">{{title}}</h5>
      <h5 class="data-created-by">Created by {{creator}}</h5>
      {% for tag in tags %}
        <span class="label achievement-tag">#{{tag}}</span>
      {% endfor %}
    </div>
  </div>
</div>
