<div class="small-12 medium-4 large-3 columns">
  <div class="achievement">
    <div class="token">
      <label class="add-selector">
        {% if type == 'badge' %}
        <img src="/static/badge.png">
        {% else %}
        <img src="/static/pathway.png">
        {% endif %}
        <input type="checkbox" name="{{_id}}" class="js-add-item" data-id="{{_id}}">
        <div for="{{_id}}" > </div>
      </label>
    </div>
    <div class="data">
      <h5>{{title}}</h5>
      {% for tag in tags %}
        <span class="label achievement-tag">#{{tag}}</span>
      {% endfor %}
      <div>
        <img src="/static/sbux.jpg" width=50>
        Created by {{creator}}
      </div>
    </div>
  </div>
</div>
