<div class="pathway-add-badge">
  <hr noshade>
  <div class="row">
    <div class="small-4 columns">
      <h6>Select the badges you want to add</h6>
    </div>
    <div class="small-5 columns small-offset-3">
      <a href="#" class="button js-add-items"><i class=" fa fa-check"/> Add now</a>
      <a href="#" class="button button-secondary js-cancel-add"><i class="fa fa-times"></i>Cancel</a>
    </div>
  </div>
  <div class="row">
    <h2 class="small-3 columns">{{backpack.models.length}} Badges</h2>
  </div>
  <div id="backpackPanel" class="js-backpack-items content">
  </div>
  <hr noshade class="full-length-hr">
  <div class="row">
    <h2 class="small-3 columns">{{wishlist.models.length}} Favorites</h2>
  </div>
  <div id="wishlistPanel" class="js-wishlist-items content">
  </div>
</div>
