<div class="page-body-pathway-add-badges">
  <hr noshade>
  <h6>Select the badges you want to add</h6>
  <a href="#" class="button js-add-items"><i class=" fa fa-check"></i> Add now</a>
  <a href="#" class="button button-secondary js-cancel-add"><i class="fa fa-times"></i> Cancel</a>

  <h2>{{backpack.models.length}} Badges</h2>
  <div id="backpackPanel" class="js-backpack-items content">
  </div>
  <hr noshade>
  <h2>{{wishlist.models.length}} Favorites</h2>
  <div id="wishlistPanel" class="js-wishlist-items content">
  </div>
</div>
