<div>
    <br>
    <h2> {{pathways.models.length}} Pathways</h2>
    <div id="pathwayPanel" class="js-pathway-items content active">
    </div>
    <hr noshade class="full-length-hr">
    <h2> {{backpack.models.length}} Badges</h2>

    <div id="backpackPanel" class="js-backpack-items content active">
    </div>
    <hr noshade class="full-length-hr">
    <h2> {{wishlist.models.length}} Badges Favorited</h2>

    <div id="wishlistPanel" class="js-wishlist-items content active">
    </div>
</div>