<div class="row text-center">
  <div class="medium-12 text-center">
    <h2 style="color:white">{{ currentUser.email }}</h2>
  </div>
  <div class="medium-2 medium-offset-3 columns">
    <img src="/static/dashboard/icoDashboardPathway.svg">
    <p>{{pathways.models.length}} pathways</p>
  </div>
  <div class="medium-2 columns">
    <img src="static/dashboard/icoDashboardBadge.svg">
    <p>{{backpack.models.length}} badges</p>
  </div>
  <div class="medium-2 columns">
	<img src="/static/dashboard/icoDashboardFavorited.svg">
	<p>{{wishlist.models.length}} favorited</p>
  </div>
  <div class="medium-3"></div>
</div>