<div>
    <dl class="accordion" data-accordion>
        <dd>
            <a href="#pathwayPanel">Pathways</a>
            <div id="pathwayPanel" class="js-pathway-items content active">
            </div>
        </dd>
        <dd>
            <a href="#backpackPanel">Backpack</a>
            <div id="backpackPanel" class="js-backpack-items content active">
            </div>
        </dd>
        <dd>
            <a href="#wishlistPanel">Wishlist</a>
            <div id="wishlistPanel" class="js-wishlist-items content active">
            </div>
        </dd>
    </dl>
</div>