<div>
  {% if showControls %}
  <ul class="editor-controls">
    <li>
      <button type="button" id="add-control" class="editor-add js-editor-add" data-stack="addPanel">Add badge</button>
      <label for="add-control">Add badge</label>
    </li>
    <li>
      <button type="button" id="note-control" class="editor-note js-editor-note" data-stack="notePanel">Add note</button>
      <label for="note-control">Add note</label>
    </li>
    <li>
      <button type="button" id="delete-control" class="editor-delete js-editor-delete" data-toggle>Delete</button>
      <label for="delete-control">Delete</label>
    </li>
    <li>
      <button type="button" id="undo-control" class="editor-undo js-editor-undo">Undo</button>
      <label for="undo-control">Undo</label>
    </li>
  </ul>
  {% endif %}
  <canvas class="editor" width="1000"></canvas>
</div>
