<div>
  {% if showControls %}
  <ul class="editor-controls">
    <li class="editor-button editor-add js-editor-add" data-stack="addPanel">
      <button/>
      <label>Add</label>
    </li>
    <li class="editor-button editor-delete js-editor-delete" data-toggle>
      <button/>
      <label>Delete</label>
    </li>
    <li class="editor-button editor-undo js-editor-undo">
      <button/>
      <label>Undo</label>
    </li>
  </ul>
  {% endif %}
  <canvas class="editor" width="1000"></canvas>
</div>
