<div class="pathway-add-note">
  <hr>
  <div class="row">
    <div class="small-4 columns">
      <h6>Create a new note</h6>
    </div>
    <div class="small-5 columns small-offset-3">
      <button type="button" class="button js-save-note"><i class=" fa fa-check"/> Save Note</button>
      <button type="button" class="button button-secondary js-cancel-note"><i class="fa fa-times"></i> Cancel</button>
    </div>
  </div>
  <form>
  <div class="row">
    <div class="small-12 medium-8 medium-centered text-left columns">
      <label>Title:
        <input type="text" id="note-title" placeholder="Title your note"/>
      </label>
      <label>Contents:
        <textarea id="note-body" class="tall" placeholder="Type your note here"></textarea>
      </label>
    </div>
  </div>
</div>
